 <!-- header -->
    <div class="grid grid-cols-2 sm:grid-cols-1 bg-gray-900 text-white">
        <div>
            <button [routerLink]="'/home'" class="hover:bg-gray-700 px-6 py-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
            </button>
        </div>
        <div>
            <div class="px-6 py-4 text-left absolute inset-y-0 right-0">GetBuddies</div>
        </div>
    </div>
 
    <!-- main container -->
    <div class="main">
        <div class="mx-auto w-1/2 lg:w-1/2 md:w-1/2 sm:w-full">
            <div class="flex flex-col">
                <!-- heading Login -->
                <div class="flex text-sm p-4">
                    <div class="mx-auto">
                        <button [routerLink]="'/signup'"
                        class="text-gray-600 font-bold px-4 lg:text-2xl md:text-xl sm:px-2 py-4 focus:outline-none hover:text-opacity-80 hover:border-b-8 transition duration-500 ease-in-out border-b-2 hover:border-gray-500 focus:border-b-4 focus:border-gray-800">SignUp</button>
                    </div>
                    <div class="mx-auto">
                        <button [routerLink]="'/login'"
                        class="text-gray-600 font-bold px-4 lg:text-2xl md:text-xl sm:px-2 py-4 focus:outline-none hover:text-opacity-80 hover:border-b-8 transition duration-500 ease-in-out border-b-2 hover:border-gray-500 focus:border-b-4 focus:border-gray-800">Login</button>
                    </div>
                </div>
            </div>
        
            <!-- main form -->
            <div class="bg-gray-200">
                <div class="flex">
                    <div class="bg-gray-200 mx-auto px-10 py-4 w-11/12 lg:w-1/2 md:w-3/4">
                        <form #login="ngForm" (ngSubmit)="onLogIn(login)">
                            <div>
                                <label for="email" class="block py-2 text-sm font-bold text-gray-700 placeholder-gray-200">Username</label>
                                <input class="fields" ngModel required name="userName" type="email" placeholder="Enter username">
                            </div>
                            <div>
                                <label for="password" class="block py-2 text-sm font-bold text-gray-700 placeholder-gray-200">Password</label>
                                <input class="fields" ngModel required name="password" type="password" placeholder="Enter password">
                            </div>
                            <!-- Register button -->
                            <div class="text-center">
                                <div>
                                    <button type="submit" [disabled]="login.invalid" class="btn">LOGIN</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Footer -->
<footer class="grid grid-cols-3 py-6 bg-gray-900 text-gray-100 absolute inset-x-0 bottom-0">
    <div class="px-4">Icons</div>
    <div class="mx-auto">GetBuddies</div>
    <div class="right-0 absolute pr-8 py-6">&copy; 2021</div>
</footer>