<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Login</title>
</head>
<body>
    <!-- header -->
    <div class="grid grid-cols-2 sm:grid-cols-1 bg-gray-800 text-white">
        <div>
            <button class="hover:bg-gray-700 px-6 py-4">
                <div class="fas fa-angle-left focus:text-gray-200"></div>
            </button>
        </div>
        <div>
            <div class="px-6 py-4 text-left absolute inset-y-0 right-0">GetBuddies</div>
        </div>
    </div>
 
    <!-- main container -->
    <div class="main">
        <div class="mx-auto w-1/2 lg:w-1/2 md:w-1/2 sm:w-full">
            <div class="flex flex-col">
                <!-- heading Login -->
                <div class="flex text-sm p-4">
                    <div class="mx-auto">
                        <button class="text-gray-600 font-bold px-4 lg:text-2xl md:text-xl sm:px-2 py-4 focus:outline-none hover:text-opacity-80 hover:border-b-8 transition duration-500 ease-in-out border-b-2 hover:border-gray-500 focus:border-b-4 focus:border-gray-800"><a href="signUp.html">SignUp</a></button>
                    </div>
                    <div class="mx-auto">
                        <button class="text-gray-600 font-bold px-4 lg:text-2xl md:text-xl sm:px-2 py-4 focus:outline-none hover:text-opacity-80 hover:border-b-8 transition duration-500 ease-in-out border-b-2 hover:border-gray-500 focus:border-b-4 focus:border-gray-800"><a href="login.html">Login</a></button>
                    </div>
                </div>
            </div>
        
            <!-- main form -->
            </div class="bg-gray-200">
                <div class="flex">
                    <div class="bg-gray-200 mx-auto px-10 py-4 w-11/12 lg:w-1/2 md:w-3/4">
                        <form action="#">
                            <div>
                                <label for="email" class="block py-2 text-sm font-bold text-gray-700 placeholder-gray-200">Email ID</label>
                                <input class="transition duration-500 ease-out transform hover:-translate-y-1 hover:scale-102 w-full px-4 py-2 border-b-2 rounded-md focus:outline-none focus:border-b-8 focus:border-gray-500" type="email" placeholder="example@abc.com">
                            </div>
                            <div>
                                <label for="password" class="block py-2 text-sm font-bold text-gray-700 placeholder-gray-200">Password</label>
                                <input class="transition duration-500 ease-out transform hover:-translate-y-1 hover:scale-102 w-full px-4 py-2 border-b-2 rounded-md focus:outline-none focus:border-b-8 focus:border-gray-500" type="password" placeholder="Enter password">
                            </div>
                            <!-- Register button -->
                            <div class="text-center">
                                <div>
                                    <button class="bg-gray-300 font-semibold rounded-md px-8 py-3 my-3 transition duration-500 ease-in-out hover:scale-102 hover:bg-gray-600 hover:text-gray-200 focus:outline-none">LOGIN</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
