<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
 
</head>
<body class="bg-gray-700">
<nav class="bg-gray-800">
  <div class="flex justify-between max-w-7xl mx-auto px-2 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <a class="hover:bg-gray-300" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
      </a>  
    </div>
    <div class="pt-5 text-white pr-4 font-semibold">GetBuddies</div>
  </div>
</nav>
<div class="lg:h-full flex relative">
    <div class="flex py-16 w-1/3 justify-center bg-gray-500">
      <div class="flex-col py-16">
      <div class="flex justify-center lg:pt-20 pt-10"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg></div>
      <div class="lg:text-3xl font-bold text-gray-800 text-center py-1">VALORANT TEAM PUNE</div>
      <div class="text-center leading-10 text-gray-800 mx-auto">19th MAY 2021 - 31st MAY 2021</div>
      <div class="mx-auto lg:w-72 pt-1 bg-gray-600 rounded-md"></div>
      <div class="lg:text-lg lg:pl-4 leading-10 lg:pr-4 sm:text-sm justify-center text-gray-800 lg:py-2">The purpose of this room is to play VALORANT day and night.</div>
      </div>
    </div>
    <div class="flex w-2/3 absolute bottom-0 right-0 col-span-2">
        <input type="text" class="h-8  w-full bottom-0 ">
        <button class="px-4 ml-2 bg-gray-300">Send</button>
    </div>
</div>
<!-- Footer -->
<footer class="grid grid-cols-3 py-6 text-gray-100">
  <div class="px-4">Icons</div>
  <div class="mx-auto">GetBuddies</div>
  <div class="right-0 absolute pr-8">&copy; 2021</div>
</footer>
</body>
</html>