<nav class="bg-gray-800 fixed z-10 w-full">
  <div class="flex justify-between max-w-7xl mx-auto px-2 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <button class="hover:bg-gray-600 px-4 py-3 focus:outline-none" [routerLink]="'/teams'">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
      </button>  
    </div>
    <div class="pt-5 text-white pr-4 font-semibold">GetBuddies</div>
  </div>
</nav>
<div class="lg:h-full flex relative bg-gray-400">
    <div class="flex py-16 w-1/3 justify-center bg-gray-500">
      <div class="flex-col py-16">
        <div class="px-4">
        <button (click)="searchUser()"
          class="hover:bg-gray-600 rounded-lg w-8 h-8 px-1 focus:outline-none"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
        </button>
      </div>
      <div class="flex justify-center lg:pt-20 pt-10"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg></div>
      <div class="lg:text-3xl font-bold text-gray-800 text-center py-1">{{room.name | titlecase}}</div>
      <div class="text-center leading-10 text-gray-800 mx-auto">{{room.created | date}} - {{room.endTime | date}}</div>
      <div class="mx-auto lg:w-72 pt-1 bg-gray-600 rounded-md"></div>
      <div class="lg:text-lg lg:pl-4 leading-10 lg:pr-4 text-sm font-light sm:text-sm justify-center text-gray-200 text-center lg:py-2">{{room.details}}</div>
      </div>
    </div>
    <div class="overflow-y-auto lg:h-screen py-24 w-full">
      <div *ngFor="let chat of room.chat | orderBy: 'createDate'" class="bg-gray-200 w-3/4 mx-4 my-2 p-2 rounded-lg hover:bg-gray-300">
        <div class="text-sm text-gray-500">{{chat.author}}</div>
        <div class="break-words">{{chat.text}}</div>
      </div>
    </div>
    <form #chat="ngForm" (ngSubmit)="onSend(chat)" class="flex absolute bg-gray-400 right-0 bottom-0 w-3/4">
      <textarea ngModel required name="text"
        class="flex-grow m-2 py-2 px-4 mr-1 rounded-full border border-gray-300 bg-gray-200 resize-none"
        rows="1"
        placeholder="Message..."
        style="outline: none;"></textarea>
      <button type="submit" [disabled]="chat.invalid" class="mr-8 rounded-sm" style="outline: none;">
        <svg
          class="svg-inline--fa text-gray-800 fa-paper-plane fa-w-12 w-10 h-10 py-2 mr-2"
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="paper-plane"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z"/>
        </svg>
      </button>
    </form>
</div>