<!-- header -->
<div class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 bg-gray-900 text-white">
    <div>
        <button [routerLink]="'/home'" class="hover:bg-gray-700 px-6 py-4 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-chevron-left">
                    <polyline points="15 18 9 12 15 6"></polyline>
                </svg>
        </button>
    </div>
    
    <div>
        <div class="px-6 py-4 text-left absolute inset-y-0 right-0">GetBuddies</div>
    </div>
</div>
<div class="flex flex-col justify-center bg-gray-200">
        <div class="text-2xl text-gray-700 font-bold p-4 border-b-2 border-gray-500 mx-auto justify-center">Your Teams</div>
    <div class="justify-center">
        <div class="flex">
            <div class="font-semibold text-gray-400 flex py-5 px-4 mx-auto justify-center"> All your groups are displayed here.
        </div>
    </div>
    <div [routerLink]="'/search'" *ngIf="rooms.length<1" class="font-semibold border-2 border-gray-500 text-gray-400 flex py-5 px-4 mx-auto justify-center hover:text-gray-700">
        Please join/create a team
    </div>
    </div>
    </div>
    <div>
        <div class="bg-gray-300 p-4 h-screen">
            <div>
                <div *ngFor="let room of rooms" class="m-1 rounded-full text-xl bg-gray-400 flex items-center justify-between px-8 transition duration-500 ease-out transform hover:-translate-y-1 hover:scale-102">
                    <div class="sm:pl-3 lg:text-2xl text-gray-900 font-medium pl-8">
                        {{room.name}}
                    </div> 
                    <div class="text-gray-900 font-medium flex items-center mx-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            <div class="px-2">{{room.users.length}}</div>
                    </div>
                    <button [routerLink]="['/chat',room.id]" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                    </button>
                    <button (click)="leave(room)" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                    </button>
                </div>
            </div>    
        </div>
    </div>
<!-- Footer -->
<footer class="grid grid-cols-3 py-6 bg-gray-900 text-gray-100">
    <div class="px-4">Icons</div>
    <div class="mx-auto">GetBuddies</div>
    <div class="right-0 absolute pr-8">&copy; 2021</div>
</footer>