<div class="bg-gray-900 h-screen">
    <!-- header -->
    <div class="bg-gray-800 text-gray-200 p-4">
        <button class="flex mx-auto text-center" routerLink="/home">
            GetBuddies
        </button>
    </div>

    <!-- main container -->
    <div class="main">
        <div class="text-gray-200 text-center p-14">
            <div class="pb-4 text-5xl">
                404 Error
            </div>
            <hr>
            <div class="text-sm py-4">
                Try reconnecting!
            </div>
        </div>
    </div>
</div>