<app-nav></app-nav>
<div class="bg-gray-700 grid lg:grid-cols-2 grid-cols-1">
    <div class="flex flex-col rounded-md">
        <div class="p-8 ml-10 mt-10">
            <div class="text-2xl font-bold text-yellow-400 py-4">Hey Friend!</div>
            <div class="text-sm text-gray-50 font-light">Are you looking for team-mates for a game, or some company to
                study a common topic? Then you are at the right place friend. GetBuddies is going to help you find the
                best group <br><b>A group as per you!</b></div>
        </div>
        <div class="p-8 ml-8">
            <div class="py-6 grid-cols-4 lg:grid-cols-3 grid">
                <div class="lg:col-span-3 col-span-2">
                    <div class="lg:grid-cols-2 gap-10 sm:col-span-3 md:col-span-2 lg:grid text-sm md:text-base">
                        <button [routerLink]="auth?'/create-team':'/signup'"
                            class="uppercase w-full bg-white hover:bg-yellow-200 hover:text-gray-800 m-4 text-gray-600 font-bold text-center rounded-full px-4 py-3 focus:outline-none">
                            {{auth?'Create Team':'Join us now'}}</button>
                        <button [routerLink]="auth?'/search':'/login'"
                            class="uppercase w-full bg-white hover:bg-yellow-200 hover:text-gray-800 m-4 text-gray-600 font-bold text-center rounded-full px-4 py-3 focus:outline-none">
                            {{auth?'Join Team':'login'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-200 w-full">
        <img [src]="Image" alt="getbuddies">
    </div>
</div>
<div class="py-16 bg-gray-100">
    <div class="text-3xl font-bold text-gray-700 text-center">What does GetBuddies do?</div>
    <div class="text-center flex py-8 font-light w-1/2 mx-auto">Establishes connection with your team-mates by
        reassuring them that the process is quick, simple, and lucrative. </div>
    <div class="flex py-6 px-16 flex-col lg:flex-row">
        <div class="flex flex-col px-6 mx-2">
            <div class="mx-auto">
                <div class="rounded-full bg-yellow-200 p-4 w-14 h-14 text-center font-semibold text-yellow-700">01</div>
            </div>
            <div class="font-semibold text-center">Creates</div>
            <div class="text-sm w-3/4 text-center mx-auto font-light">Create unique teams for you and customizes is as
                per you.</div>
        </div>
        <div class="flex items-center justify-center h-16">
            <div class="bg-yellow-200 py-0.5 lg:px-14 px-20"></div>
        </div>
        <div class="flex flex-col px-6 mx-2">
            <div class="mx-auto">
                <div class="rounded-full bg-yellow-200 p-4 w-14 h-14 text-center font-semibold text-yellow-700">02</div>
            </div>
            <div class="font-semibold text-center">Filters and Find</div>
            <div class="text-sm w-3/4 font-light text-center mx-auto">Helps you find teams who are up for the same task
                as yours. </div>
        </div>
        <div class="flex items-center justify-center h-16">
            <div class="bg-yellow-200 py-0.5 lg:px-14 px-20"></div>
        </div>
        <div class="flex flex-col px-6 mx-2">
            <div class="mx-auto">
                <div class="rounded-full bg-yellow-200 p-4 w-14 h-14 text-center font-semibold text-yellow-700">03</div>
            </div>
            <div class="font-semibold text-center">Connects</div>
            <div class="text-sm w-3/4 text-center mx-auto font-light">Provides you with the chat feature to maintain an
                ongoing connection with your friends. </div>
        </div>
    </div>
</div>
<div class=" bg-gray-300 py-16">
    <div class="text-3xl font-bold pb-14 text-gray-700 text-center">What are the perks of joining GetBuddies?</div>
    <div class="grid lg:grid-cols-2 grid-cols-1 ">
        <!-- first column -->
        <div class="mx-auto">
            <!-- first ticker -->
            <div class="flex ">
                <div class="pt-5 mx-5 justify-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle">
                        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                        <polyline points="22 4 12 14.01 9 11.01"></polyline>
                    </svg>
                </div>
                <div class="pt-5">Create a team as per your requirement</div>
            </div>
            <!-- second ticker -->
            <div class=" flex ">
                <div class=" pt-5 mx-5 justify-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle">
                        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                        <polyline points="22 4 12 14.01 9 11.01"></polyline>
                    </svg>
                </div>
                <div class=" pt-5">Allow you to join multiple team</div>
            </div>
            <!-- third ticker     -->
            <div class="flex ">
                <div class="pt-5 mx-5 justify-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle">
                        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                        <polyline points="22 4 12 14.01 9 11.01"></polyline>
                    </svg>
                </div>
                <div class="pt-5">Chat with team-mates in real time</div>
            </div>
        </div>
        <!-- second column -->
        <div class="mx-auto">
            <!-- first ticker -->
            <div class="flex ">
                <div class="pt-5 mx-5 justify-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle">
                        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                        <polyline points="22 4 12 14.01 9 11.01"></polyline>
                    </svg>
                </div>
                <div class="pt-5">It's free of cost</div>
            </div>
            <!-- second ticker -->
            <div class=" flex ">
                <div class=" pt-5 mx-5 justify-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle">
                        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                        <polyline points="22 4 12 14.01 9 11.01"></polyline>
                    </svg>
                </div>
                <div class=" pt-5">Collab for self-customized cause</div>
            </div>
            <!-- third ticker     -->
            <div class="flex ">
                <div class="pt-5 mx-5 justify-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle">
                        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                        <polyline points="22 4 12 14.01 9 11.01"></polyline>
                    </svg>
                </div>
                <div class="pt-5">Team up and learn from people nearby</div>
            </div>
        </div>
        <!-- end of third column -->
    </div>
</div>
<div class="flex flex-col py-10  bg-gray-100">
    <div class="text-3xl py-10 font-bold  align-text-bottom text-center text-gray-700 sm:align-text-bottom">Numbers till
        date</div>
    <div class="grid  gap-9 lg:grid-rows-1 lg:grid-cols-4 grid-rows-2 sm:grid-cols-2 ">
        <!-- first column -->
        <div class="flex flex-col">
            <div class="text-3xl font-bold  text-gray-700 text-center">5000</div>
            <div class="text-md font-mono text-gray-600 text-center ">Users</div>
        </div>
        <!-- second column -->
        <div class="flex flex-col">
            <div class="text-3xl font-bold  text-gray-700 text-center">587</div>
            <div class="text-md font-mono text-gray-600 text-center ">Rooms created</div>
        </div>
        <!-- third column -->
        <div class="flex flex-col ">
            <div class="text-3xl font-bold  text-gray-700 text-center">1678</div>
            <div class="text-md font-mono text-gray-600 text-center ">Users online</div>
        </div>
        <!-- fourth column -->
        <div class="flex flex-col ">
            <div class="text-3xl font-bold  text-gray-700 text-center">683</div>
            <div class="text-md font-mono text-gray-600 text-center ">Active teams</div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="grid grid-cols-3 py-6 bg-gray-900 text-gray-100">
    <div class="px-4">Icons</div>
    <div class="mx-auto">GetBuddies</div>
    <div class="right-0 absolute pr-8">&copy; 2021</div>
</footer>